body{
    background-color:rgb(227, 227, 231)
}

nav > ul > li{
    display:inline;
    margin-right:10px;

}

nav li > a{
    text-decoration:none;
}
.image{
    clip-path: circle(50% at 50% 50%);
    width:400px;
    float:right;
}
    

footer{
    margin-top:30px;
    text-align:center;
}

